{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('commission', array('op'=>'display'))}">佣金审核提现操作</a></li>
		<li ><a href="{php echo $this->createWebUrl('commission', array('op'=>'applyed'))}">已结算订单</a></li>
		<li class="active"><a href="#">结算订单明细</a></li>
	<li><a href="{php echo create_url('site/module', array('do' => 'zhifu', 'op' => 'list','name' => 'bj_qmxk','weid'=>$_W['weid']))}">代理提现报表</a></li>
	<li><a href="{php echo $this->createWebUrl('commission', array('op'=>'invalid'))}">审核无效</a></li>
</ul>
<div class="main">
	<div class="form form-horizontal">
		<h4>结算订单明细</h4>
		<table class="tb">

			<tr>
				<th style="width:200px"><label>设置审核结算状态</label></th>
				<td style="text-align: left;">
					已打款
				</td>
			</tr>
			<tr>
				<th style="width:200px"><label for="">申请人</label></th>
				<td>
					{if $user['realname']!=""} {$user['realname']}{else}未完善{/if}
				</td>
			</tr>
			
					<tr>
				<th style="width:200px"><label for="">银行卡号</label></th>
				<td>
					{if $bankcard['banktype']!=""} {$bankcard['banktype']}{else}未完善{/if}
				</td>
			</tr>
					<tr>
				<th style="width:200px"><label for="">银行名称</label></th>
				<td>
					{if $bankcard['bankcard']!=""} {$bankcard['bankcard']}{else}未完善{/if}
				</td>
			</tr>
					<tr>
				<th style="width:200px"><label for="">支付宝</label></th>
				<td>
					{if $bankcard['alipay']!=""} {$bankcard['alipay']}{else}未完善{/if}
				</td>
			</tr>
			<tr>
				<th style="width:200px"><label for="">手机号码</label></th>
				<td>
					{if $user['mobile']!=""} {$user['mobile']}{else}未完善{/if}
				</td>
			</tr>
			<tr>
				<th><label for="">申请时间</label></th>
				<td>
					{php echo date('Y-m-d H:i:s', $info['applytime']);}
				</td>
			</tr>
			<tr>
				<th style="width:200px"><label for="">订单编号</label></th>
				<td>
				 <a target="_blank" href="{php echo $this->createWebUrl('order', array('op' => 'detail', 'id' => $order['id']))}"> {$order['ordersn']}</a>
				</td>
			</tr>
			<tr>
				<th><label for="">商品名称</label></th>
				<td>
					{$info['title']}
				</td>
			</tr>
			<tr>
				<th><label for="">商品价格</label></th>
				<td>
					{$info['price']}
				</td>
			</tr>
			<tr>
				<th><label for="">购买数量</label></th>
				<td>
					{$info['total']}
				</td>
			</tr>
			<tr>
				<th><label for="">打款佣金</label></th>
				<td>
					
					<font color="red">{$info['commission']} </font>
				</td>
			</tr>
		<!--	<tr>
				<th><label for="">备注</label></th>
				<td>
					<textarea name="content" readonly>{$info['content']}</textarea>
				</td>
			</tr>-->
		
		</table>
	</div>
</div>

{template 'common/footer'}
