@charset "UTF-8";
/** reset **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;}
body{font: 12px/1.5 "Microsoft YaHei";}
a {outline: none;text-decoration: none;color: #656565;}
a:hover {text-decoration:none;color: #f63b3b;}
table { border-collapse:collapse;border-spacing:0;}
fieldset, ../img {border:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;font-weight:normal;}
ul, li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
input, textarea, select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input, textarea, select {*font-size:100%;}
../img{vertical-align: bottom;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
/* layout */
.layout{
    width: 100%;
    min-width: 1000px;
   
}
.layout.nav,.layout.advantage,.layout.article{
    background: #fff;
}
.layout.banner{
    background: #06f7c6; height: 595px;
    background-image: -moz-linear-gradient(top, #1bbc9b, #06f7c6); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1bbc9b), color-stop(1, #06f7c6)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbc9b', endColorstr='#06f7c6', GradientType='0'); /* IE*/
}


.layout.banner2{
    background: #06f7c6;
	height: 434px;
	background:url(../images/linkas.jpg) repeat;
}


.mod-banner2{
    width:1000px;
    height:434px;
    margin: 0 auto;
}

.layout.intro{
    background: #eeeeee;
}
.layout.recommend{
    background: #ebebeb;
}

.layout.recommend1{
    background: #eeeeee;
}

.layout.footer{
    background: #40454b;
    padding-bottom: 0;
}
.mod-intro h2,.mod-advantage h2,.mod-advantage1 h2,.mod-recommend h2,.mod-recommend1 h2{
    font: 36px "Microsoft YaHei";
    text-align: center;
    padding: 10px 0;
    height: 20px;
	color:#f55f45;
}






/* mod-nav */
.mod-nav{
    overflow:hidden;
    position:relative;
    width:1000px;
    height:80px;
    margin:0 auto;
}
.mod-nav .logo{
    width:200px;
    height:80px;
    margin:0;
    background:url(../images/vd-logo.png) no-repeat 0 17px;
    text-indent:-9999px;
}
.mod-nav .nav-list{
    position:absolute;
    left:385px;
    top:35px;
    text-align:left
}
.mod-nav .nav-list a{
    font-size:15px;
    color:#000;
    margin-right:40px;
}
.mod-nav .nav-sp{
    position: absolute;
    display: inline-block;
    width: 185px;
    height: 30px;
    right: 0;
    top: 29px;
    background:url(../images/btn-bg.png) no-repeat 0 0;
}
.nav-sp-buy{
	left: 40px;
}
.nav-sp-sale{
	left: 47px;
}
.nav-sp-buy, .nav-sp-sale{
	position: relative;
	width: 40px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	padding: 0 10px;
}
a.nav-sp-buy:hover,a.nav-sp-sale:hover{
	color: #FFF;
	text-decoration: underline;
}
/* mod-banner */
.mod-banner{
    width:1000px;
    height:430px;
    margin: 0 auto;
}
.banner-wrap{
    position: relative;
    height:430px;
    margin:0 auto;
    
}
.banner-bd{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 608px;
    background:url(../images/banner-bg.png) no-repeat 38px 40px;
}
.banner-bd1{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 608px;
    background:url(../images/banner-bg.png) no-repeat 38px 40px;
}



.login-panel{
    position: relative;
}
.login-panel .d-android,.login-panel .d-iphone{
 display: block;
height: 28px;
position: absolute;
left: 760px;
font-family: Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;
color:#f55f45;
font-size: 15px;
padding:15px 0 10px 45px;
line-height: 28px;

}
.login-panel .d-iphone{
    top: 375px;
}
.login-panel .d-android{
    top:445px;
}
.login-panel .d-qrcode{border-radius:5px;background: #fff;padding: 5px;position: absolute;left: 552px;top: 370px;width: 128px;height: 128px; } 
.login-form{
    position: absolute;
    left: 598px;
    top: 202px;
    width: 268px;
    height: 228px;
    padding: 0 30px;
    background: #91272a;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.login-form,.login-form a{
    color: #fff;
}
.kd-login-title{
    margin: 12px 0 7px 0;
    color: #fff;
    font-weight: normal;
}
.input-code, .input-nick, .input-phone, .input-pwd{
    width: 268px;
    margin-bottom: 14px;
}
.input-code input, .input-nick input, .input-phone input, .input-pwd input{
    box-shadow: none;
    border: none;
    height: 30px;
}
.label-country{
    background:#fff url(../images/login-bg.png) no-repeat 0 -110px;
    box-shadow: none;
    height: 30px;
    margin-bottom: 14px;
    border: none;
}
.input_for_login{
    width: 219px;
    margin-top: 2px;
}
.input-code .icon, .input-nick .icon, .input-phone .icon, .input-pwd .icon{
    height: 30px;
}
.input-code label.validator_error, .input-nick label.validator_error, .input-phone label.validator_error, .input-pwd label.validator_error{
    top: -5px;
    left: 269px;
}
.input-code .icon, .input-nick .icon, .input-phone .icon, .input-pwd .icon {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 1px;
    height: 30px;
    _width: 100%;
    background:#fff url(../images/login-bg.png) no-repeat;
}
.input-phone .icon{
    background-position: 0 -146px;
}
.input-pwd .icon{
    background-position: 0 -180px;
}
.login-btn{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 35px;
    line-height: 28px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    border: 0;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    background:#fc4343;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fc4343), to(#f63b3b));
    background-image: -ms-linear-gradient(top, #fc4343 0%, #f63b3b 100%);
    background-image: -moz-linear-gradient(top, #fc4343 0%, #f63b3b 100%);
    background-image: -o-linear-gradient(top, #fc4343 0%, #f63b3b 100%);
    background-image: -webkit-linear-gradient(top, #fc4343 0%, #f63b3b 100%);
    background-image: linear-gradient(to bottom, #fc4343 0%, #f63b3b 100%);
}
.auto-login{
    padding-top: 0;
}
.v-login-forget-pwd{
    margin-left: 70px;
}
.kd-form-error{
    height: auto;
    margin-top: 3px;
}
.user-info{
    font-size: 18px;
    margin: 18px 0 13px 0;
}
.user-menu li{
    float: left;
    width: 132px;
    width: 132px;
    height: 105px;
    border-left: 1px solid #fff;
}
.user-menu li span{
    display: block;
    text-align: center;
    font-size: 16px;
}
.user-menu li i{
    display: block;
    width: 36px;
    height: 32px;
    margin: 20px 0 15px 47px;
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
}
.user-menu li i.goods{
    background-position: -1px 0;
}
.user-menu li i.order{
    background-position: 1px -32px;
}
.user-menu li i.shop{
    background-position: 0 -72px;
}
.user-menu li:first-child{
    border-left: none;
}
.login-form .logout{
    padding: 14px 0 0 0;
    text-align: right;
}
/* mod-intro */
.mod-intro{
    width:1000px;
    height:563px;
    margin:0 auto;
}
.mod-intro h2{
    padding: 60px 0 60px 0;
}
.mod-intro .intro-bd{
    width: 1000px;
    height: 240px;
    text-indent: -9999px;
    background:url(../images/introduce-bg.png) no-repeat center 0;
}
/* mod-advantage */
.mod-advantage{
    width:1000px;
    height:582px;
    margin:0 auto;
}
.mod-advantage h2{
    padding: 58px 0 96px 0;
}


.mod-advantage1{
    width:1000px;
    height:842px;
    margin:0 auto;
}
.mod-advantage1 h2{
    padding: 58px 0 96px 0;
}





.advantage-list li{
    position: relative;
    float: left;
    width: 200px;
    padding: 25px;
    margin-left: 100px;
    background: #f5f5f5;
}
.advantage-list li:first-child{
    margin-left: 25px;
}
.advantage-list li h3{
    padding: 25px 0;
    text-align: center;
    font-size: 17px;
}
.advantage-list li p{
    height: 63px;
    font-size: 14px;
    color: #333;
}
.advantage-list li > i{
    position: absolute;
    left: 50%;
    top: -31px;
    margin-left: -30px;
    display: block;
    width: 61px;
    height: 61px;
    background-image: url(../images/icon-sprite.png);
    background-repeat: no-repeat;
}
.advantage-list li .adIcon1{
    background-position: 0 1px;
}
.advantage-list li .adIcon2{
    background-position: 0 -60px;
}
.advantage-list li .adIcon3{
    background-position: 0 -122px;
}
.advantage-list li .cop-list{
    margin-top: 25px;
}
.advantage-list li .cop-list a{
    float: left;
    text-align: center;
    width: 60px;
    margin-left: 10px;
    color: #666;
}
.advantage-list li .cop-list a:first-child{
    margin-left: 0;
}
.advantage-list li .cop-list span{
    display: inline-block;
    font-size: 12px;
    padding-top: 6px;
}
.advantage-list li .cop-list i{
    display: block;
    width: 52px;
    height: 52px;
    margin-left: 4px;
    background-image: url(../images/icon-sprite.png);
    background-repeat: no-repeat;
}
.advantage-list li .cop-list i.koudai{
    background-position: 0 -187px;
}
.advantage-list li .cop-list i.banjia{
    background-position: 0 -238px;
}
.advantage-list li .cop-list i.meiligou{
    background-position: 0 -289px;
}
.advantage-list li .cop-list i.zhitongche{
    background-position: -69px 2px;
}
.advantage-list li .cop-list i.lianmeng{
    background-position: -69px -51px;
}
.advantage-list li .cop-list i.fenxiao{
    background-position: -69px -104px;
}
.advantage-list li .cop-list i.yinlian{
    margin-left: 0;
    width: 67px;
    background-position: -68px -159px;
}
.advantage-list li .cop-list i.shunfeng{
    background-position: -73px -217px;
}
.advantage-list li .cop-list i.pingan{
    background-position: -73px -278px
}
/* mod-recommend */
.mod-recommend{
    width:1000px;
    height:1000px;
    margin:0 auto;
}
.mod-recommend h2{
    padding: 50px 0 58px 0;
}

.mod-recommend1{
    width:1000px;
    height:620px;
    margin:0 auto;
}
.mod-recommend1 h2{
    padding: 50px 0 38px 0;
}



.shop-basic a{cursor: default;}
.shop-list{
    margin-left:-24px;
}
.shop-list li{
    float:left;
    width:232px;
    height:240px;
    margin-left:24px;
    margin-bottom: 50px;
    background: #fff;
}
.shop-list li .shop-basic{
    position: relative;
    width:232px;
    height:240px;
}
.shop-list li .shop-basic .bg,.shop-list li .shop-basic .info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 232px;
    height: 22px;
}
.shop-list li .shop-basic .bg{
    z-index: 0;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity:40);
}
.shop-list li .shop-basic .info{
    z-index: 1;
    color: #fff;
    width: 217px;
    padding-right: 15px;
    text-align: center;
}
.shop-list li ../img{
    width:232px;
    height:160px;
}
.shop-list li h3{
    padding: 8px 0 0 20px;
    font:15px/23px 'Microsoft YaHei';
    color:#000;
    background:#fff;
}

.shop-list li h3 a{
    color: #000;
}
.shop-list li p{
    padding-left: 20px;
    color: #666;
    font-size: 13px;
}
.shop-list li p a{
    color: #666;cursor: default;
}
.shop-list li h3 a:hover,.shop-list li p a:hover{
    color: #666;cursor: default;
}
/* mod-article */
.mod-article{
    width:1000px;
    height:250px;
    margin:0 auto;
}
.article-bd{
    float: left;
    width: 280px;
    margin-left: 80px;
    padding-top: 40px;
}
.article-bd.first{
    margin-left: 0;
}
.article-bd h3{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #cacaca;
}
.article-bd h3 .more{
    position:absolute;
    right:0;
    top:10px;
    font-weight: normal;
    font-size:12px;
}
.article-bd h3 .more i{
    position:relative;
    top:1px;
    display:inline-block;
    font-size: 14px;
}
.article-bd ul{
    padding: 10px 0;
}
.article-bd li{
    height: 14px;
    padding: 5px 0;
}
.article-bd li a{
    float: left;
}
.article-bd li span.date{
    float: right;
    color: #666
}
/* mod-about */
.mod-about{
    width:1000px;
    height:162px;
    margin:0 auto;
}
.mod-about h3{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px solid #cacaca;
}
.contact{
    float: left;
    width: 640px;
}
.contact-bd{
    width:640px;
    height:86px;
    background:url(../images/contact-bg.png) no-repeat -2px 10px;
}
.attention{
    float: right;
    width: 280px;
}
.attention-bd{
    width:280px;
    height:60px;
    background:url(../images/contact-bg.png) no-repeat -709px 10px;
}
.attention-bd a,.attention-bd span{
    float:left;
    display:block;
    width:41px;
    height:41px;
    margin-top: 16px;
    margin-left:25px;
}
.attention-bd a:first-child{
    margin-left:0;
}
.weixin-dialog-code{
    background:url(../images/attentionBg.jpg) no-repeat;
}


















.footer {
	background: #40454b;
	font-family: "微软雅黑";
	font-size: 12px;
}
.footer_c {
	margin: 0 auto;
	width: 1000px;
	padding: 15px 0px;
	overflow: hidden;
}
.footer_l {
	float: left;
	width: 730px;
	overflow: hidden;
}
.footer_l span {
	display: block;
	overflow: hidden;
	color: #FFF;
	line-height: 30px;
	padding-left: 8px;
}
.footer_l span a {
	color: #FFF;
	padding-left: 8px;
	padding-right: 8px;
}
.footer_r {
	float: right;
	overflow: hidden;
}




.advantage7 { background:#fff;padding-bottom: 60px;padding-top:60px; }
.advantage7 .advantage-box { width: 220px; }
.advantage7 .advantage-title { font-size: 36px; font-family: "Microsoft Yahei";padding-top: 10px;padding-bottom: 40px;text-align: center; }
.advantage7 .advantage-box .advantage-pic { height: 180px;text-align: center; }
.advantage7 .advantage-box .advantage-info { line-height: 220%; color: #363636; }
.advantage7 .advantage-box .advantage-info h3 { font-weight: normal; }
.page { width: 1000px; margin: 0 auto; }
.clearfix { display: block; *zoom: 1; }
.clearfix:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.fl { float: left; _display: inline; }
.fr { float: right; _display: inline; }
.pl-40 { padding-left: 40px; }
.f-24 { font-size: 24px; font-family: "Microsoft Yahei"; }
.t-c { text-align: center; }
.pt-10 { padding-top: 10px; }
.pb-10 { padding-bottom: 10px; }
.f-16 { font-size: 16px; font-family: "Microsoft Yahei"; }
.f-18 { font-size: 18px; font-family: "Microsoft Yahei"; }
.black { color: #000000; }
.pb-15 { padding-bottom: 15px; }


.commerce-site-main { background: #ffffff; padding-bottom: 25px;padding-top: 25px;}
.commerce-site-main.bg-gray { background: #fff; }
.commerce-site-main .core-value-list { margin-bottom: 30px; padding: 40px 0; width: 485px; height: 160px; background-color: #F7F7F7; border-bottom: 5px solid #DCDCDC; }
.commerce-site-main .core-value-list .core-value-pic { width: 140px; height: 140px; padding: 32px 0; text-align: center; }
.commerce-site-main .core-value-list .core-value-info { width: 320px; }
.commerce-site-main .core-value-list .core-value-info div { color: #878787; line-height: 150%; }
.commerce-site-main .core-value-list .core-value-info .ul-half { color: #477FC1; text-indent: 20px; width: 50%; line-height: 180%; background: url(../images/dot.png) no-repeat left center; }
.core-value-list .core-value-pic { width: 140px; height: 140px; padding: 32px 0; text-align: center; }
.core-value-list .core-value-info { width: 320px; }
.core-value-list .core-value-info div { color: #878787; line-height: 150%; }
.core-value-list .core-value-info .ul-half { color: #477FC1; text-indent: 20px; width: 50%; line-height: 180%; background: url(../images/dot.png) no-repeat left center; }
.commerce-site-main .main-btn { margin: 0 auto; text-align: center; display: block; color: #fff; width: 207px; height: 52px; line-height: 52px; background: url(../images/main_btn.png) no-repeat left top; }


.Public {
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
}
.Public-h1 {
  font-size: 26px;
  color: #000;
  display: block;
  padding: 30px 0 10px 0;
  text-indent: 2em;
}
.Public-box {
  background: #fff;
  height: auto;
  padding-bottom: 10px;
}
.Proxy {
  padding: 10px 50px;
  min-height: 80px;
  border-radius: 5px;
}
.Proxy p {
  line-height: 30px;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
}




.rides-cs {  font-size: 12px; background:#f55f45; position: fixed; top: 250px; right: 0px; _position: absolute; z-index: 1500; border-radius:6px 0px 0 6px;}
.rides-cs a { color: #00A0E9;}
.rides-cs a:hover { color: #ff8100; text-decoration: none;}
.rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;height: 181px;}
.rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
.rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow:hidden;}
.rides-cs .floatR .cn {background:#F7F7F7; border-radius:6px;margin-top:4px;}
.rides-cs .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:5px;text-align:center;}
.rides-cs .cn ul {padding:0px;}
.rides-cs .cn ul li { line-height: 38px; height:38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;text-align:center;}
.rides-cs .cn ul li span { color: #777;}
.rides-cs .cn ul li a{color: #777;}
.rides-cs .cn ul li img { vertical-align: middle;}
.rides-cs .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:25px; left: 0;  background-image: url(../images/lanrenzhijia.png); background-repeat: no-repeat; display:block;  height: 146px; padding: 8px;}
.rides-cs .btnOpen { background-position: 0 0;}
.rides-cs .btnCtn { background-position: -37px 0;}
.rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
.rides-cs ul li.bot { border-bottom: none;}




.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
::selection {
  background: #F78118;
  color: #FFFFFF;
  text-shadow: none;
}
.four{ width:1000px; margin:0 auto; margin-top:50px;margin-bottom:50px;}
.four .fourLt{ width:510px; float:left;}
.four .fourRt{ width:460px; float:right;}
#focus_Box{position:relative;width:510px;height:308px; margin-top:10px;}
#focus_Box ul{position:relative;width:510px;height:308px}
#focus_Box li{z-index:11;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%;background:url(../images/loading.gif) no-repeat center 50%;height:100%;vertical-align:top}
#focus_Box li p{position:absolute;left:0;bottom:0px;width:100%;height:40px;line-height:40px;background:url(../images/float-bg.png) repeat;text-indent:8px;color:#fff;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden;}
#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:52px;height:52px;top:131px;}
#focus_Box .prev{background:url(../images/btn.png) left bottom no-repeat;left:0px}
#focus_Box .next{background:url(../images/btn.png) right bottom no-repeat;right:0px} 
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;background:url(../images/share-btn.png) no-repeat;text-indent:-999px;}

.fourRt .title{ font-size:15px; color:#fff; border-bottom:2px solid #e7e6e6; margin-bottom:20px;}
.fourRt .title span{ float:left; background:url(../images/greenBg_03.png) no-repeat; padding:8px 44px;}
.fourRt .title a{ float:right; margin-top:15px;}
.fourRt li{ color:#666666; font-size:14px;}
.fourRt li a{ color:#666666; }
.fourRt li a:hover{ color:#1bbc9b;}
.fourRt .biaodian{ line-height:34px; background:url(../images/yuan_43.png) no-repeat left center; padding-left:10px;}
.fourRt .biaodian .zuo{ float:left;}
.fourRt .biaodian .you{ float:right;}